* {
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  padding: 0;
}

:root {
  height: 100%;
  width: 100%;
  --light: rgba(255, 255, 255, 0.8);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  height: 100%;
}


html {
  height: 100%;
  width: 100%;
  background-image: url(./Media/uranus-sky-night-background-asset-game-2d-futuristic-generative-ai.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

body {
  height: 100%;
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  height: 100%;
  width: 100%;
}

.toggle {
  color: red;
  background-color: blue
}

.search {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1000px;
  width: 90%;
  background-color: rgba(255, 255, 255, 0.8);
  margin-top: 10vh;
}

.search-box {
  border-bottom-left-radius: 1000px;
  border-top-left-radius: 1000px;
  margin-right: auto;
  color: rgb(0, 0, 0);
  font-size: 2rem;
  text-indent: 5%;
  border: none;
  outline: none;
  background-color: transparent;
  width: 90%;
  overflow: hidden;
}

::placeholder {
  color: rgb(0, 0, 0);
}

.search-icon {
  width: 2.5rem;
  height: 2.5rem;
  min-width: 2rem;
  margin-right: 5px;
  border-radius: 1000px;
}

.search-icon:hover {
  cursor: pointer;
}

.collected-results {
  background-color: rgba(255, 255, 255);
  border-radius: 25px;
  margin-top: 5px;
  top: 100%;
  width: 90%;
  position: absolute;
}

.search-results {
  color: rgb(0, 0, 0);
  align-items: center;
  display: flex;
  height: 2rem;
}

.search-results-sub {
  padding: 20px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.add1 {
  font-weight: 900;
}

.add2 {
  font-weight: 100;
  font-size: 0.8rem;
}

.search-results:hover {
  background-color: rgb(11, 206, 203);
  color: white;
  cursor: pointer;
}

.search-results:hover:first-child {
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.search-results:hover:last-child {
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

.settings:hover {
  cursor: pointer;
}

.weather-collection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 2%;
}

.weather {
  display: flex;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 1rem;
  color: rgb(0, 0, 0);
  margin-top: 4%;
  width: 90vw;
  height: 15rem;
  padding: 2%;
  margin: 2%;
  justify-content: space-evenly;
}

.weather-icon{
  border: 2px solid red;
}

.temp{
  font-size: 5rem;
}

.icon{
  display: flex;
  justify-content: center;
  align-items: center;
  width: max-content;
  border: 2px solid blue;
}

.forecast{
}

@media screen and ((min-aspect-ratio: 1/1) or (min-width: 700px)) {
  .search-bar {
    width: 50%;
  }

  .collected-results {
    width: 50%;
  }

  .weather-collection {
    flex-direction: row;
  }
}