* {
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  padding: 0;
}

:root {
  height: 100%;
  width: 100%;
  --light: #5ED4FF;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  height: 100%;
}


html {
  height: 100%;
  width: 100%;
  background-color: #43C9FA;
  background-repeat: no-repeat;
  background-size: cover;
}

body {
  height: 100%;
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  height: 100%;
  width: 100%;
}

.toggle {
  color: red;
  background-color: blue
}

.search {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1000px;
  width: 90%;
  background-color: #5ED4FF;
  margin-top: 7vh;
}

.search-box {
  border-bottom-left-radius: 1000px;
  border-top-left-radius: 1000px;
  margin-right: auto;
  color: rgb(245, 245, 245);
  font-size: 2rem;
  text-indent: 5%;
  border: none;
  outline: none;
  background-color: transparent;
  width: 90%;
  overflow: hidden;
}

::placeholder {
  color: rgba(245, 245, 245, 0.5);
}

.search-icon {
  border-radius: 1000px;
}

.search-svg {
  width: 2.5rem;
  height: 2.5rem;
  min-width: 2rem;
  margin-right: 5px;
  border-radius: 1000px;
}

.search-svg:hover,
.search-icon:hover {
  cursor: pointer;
  background-color: red;
}

.collected-results {
  background-color: white;
  border-radius: 25px;
  margin-top: 5px;
  top: 100%;
  width: 90%;
  position: absolute;
}

.search-results {
  color: rgb(0, 0, 0);
  align-items: center;
  display: flex;
  height: 2rem;
}

.search-results-sub {
  padding: 20px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.add1 {
  font-weight: 900;
}

.add2 {
  font-weight: 100;
  font-size: 0.8rem;
}

.search-results:hover {
  background-color: whitesmoke;
  color: #5ED4FF;
  cursor: pointer;
}

.search-results:hover:first-child {
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.search-results:hover:last-child {
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

.settings:hover {
  cursor: pointer;
}

.weather-collection,
.sub-forecast {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2%;
  flex: 1 1 0px;
  flex-wrap: wrap;
  align-items: stretch;
}

.sub-forecast {
  min-width: 90vw;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0;
}

.weather,
.air,
.forecast {
  display: flex;
  flex-direction: column;
  background-color: #5ED4FF;
  border-radius: 1rem;
  color: whitesmoke;
  margin-top: 2%;
  height: auto;
  min-width: 300px;
  max-width: max-content;
  padding: 2%;
  margin: 1%;
  align-items: stretch;
}

.air {
  height: auto;
}

.forecast {
  height: auto;
}

.sub-forecast-even {
  background-color: aliceblue;
  color:#5ED4FF;
}

.sub-forecast-odd{
  background-color:#43C9FA;
}

.sub-forecast-even, .sub-forecast-odd{
  padding: 0.5%;
  border-radius: 10px;
  max-width: fit-content;
}

.add {
  flex: 1;
}

.weather-and-icon {
  display: flex;
  align-items: center;
}

.icon {
  margin-right: auto;
  width: max-content;
  flex: 1;
}

.temp {
  font-size: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: max-content;
}

.airq,
.fore {
  font-size: 2rem;
  margin-bottom: 2px;
}

.w-features {
  font-weight: 100;
  color: rgb(63, 49, 49);
}

.red {
  color: red;
  font-weight: 900;
  font-size: 3rem;
}

.orange {
  color: orange;
  font-weight: 900;
  font-size: 3rem;
}

.yellow {
  color: rgb(255, 255, 100);
  font-weight: 900;
  font-size: 3rem;
}

.light-green {
  color: lightgreen;
  font-weight: 900;
  font-size: 3rem;
}

.dark-green {
  color: darkgreen;
  font-weight: 900;
  font-size: 3rem;
}

@media screen and (min-width: 500px) {
  .search-bar {
    width: 50%;
  }

  .collected-results {
    width: 50%;
  }
}